/* Define CSS variables */
:root {
    --primary-color: #337ab7;
    --secondary-color: #666;
    --font-family: Arial, sans-serif;
  }
  
  /* Global styles */
  body {
    font-family: var(--font-family);
    margin: 20px;
  }
  
  /* Container styles */
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: ruby;
    flex-direction: column;
    align-items: center;
  }
  
  /* Project styles */
  .proyecto {
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
  
  .proyecto.iniciado {
    background-color: #ffffcc;
  }
  
  .proyecto.en-proceso {
    background-color: #ffe6cc;
  }
  
  .proyecto.finalizado {
    background-color: #ccffcc;
  }
  
  /* Form styles */
  .add-project-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .add-project-form input[type="text"], .add-project-form input[type="date"], .add-project-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .add-project-form button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-project-form button[type="submit"]:hover {
    background-color: #23527c;
  }
  
  /* Filter styles */
  .filter-button {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .filter-button button[type="button"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .filter-button button[type="button"]:hover {
    background-color: #23527c;
  }
  
  .filter-status {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  /* Edit and delete project styles */
  .proyecto .edit-project, .proyecto .delete-project {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .proyecto .edit-project:hover, .proyecto .delete-project:hover {
    background-color: #23527c;
  }